<strong>Hi, {{ meetup.user }}</strong>
<p>There is a new subscription in your Meetup</p>
<p>Please find out the details bellow:</p>
<p>
  <strong>Meetup: </strong>{{ meetup.title }}<br />
  <strong>Date/time: </strong>{{ dateMail }}<br /><br />
  <strong>Subscriber:</strong> {{ subscriber.name }} ({{ subscriber.email }})<br />
</p>